<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .spaces {
            padding-left: 15px; 
            padding-right: 15px;
        }
        form > label {
            display: inline-block;
            width: 8rem;
        }
    </style>
    <title>Chinese Restaurant</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="spaces" style="height: 4rem; margin-bottom: 20px; display: inline-block; background-color: aquamarine;"><h3>Tao Bao Chinese Restaurant</h3></div>
                <div class="spaces">
                    <form action="/create" method="POST">
                        <label class="label" for="tableNo">Table No:</label><input type="number" name="tableNo" placeholder="Table Number" required><br>
                        <label class="label" for="menuNo">Menu No:</label><input type="number" name="menuNo" placeholder="Menu Item Number" required><br>
                        <label class="label" for="outlet">Outlet:</label><input type="text" name="outlet" placeholder="Name of Branch"><br>
                        <label class="label" for="dateOo">Order Date:</label><input name="dateOo" type="date" required><br>
                        <label class="label" for="waiterNo">Waiter No:</label><input type="number" name="waiterNo" placeholder="Waiter/Waitress Tag" required>
                        <br><br>
                        <input type="reset" value="Cancel">
                        <input type="submit" value="Submit Order">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>