doctype html
html(lang='en')
  head
    include components/header
    title Chinese Restaurant
  body
    include components/navbar
    .container
      .row
        .col-md-3
        .col-md-6
          .spaces
            form(action='/updateorder', method='POST')
              label.label(for='tableNo') Table No:
              input.form-control(type='number', name='tableNo', placeholder='Table Number', value=tableNo, required='')
              label.label(for='menuNo') Menu No:
              input.form-control(type='number', name='menuNo', placeholder='Menu Item Number', required='')
              label.label(for='outlet') Outlet:
              input.form-control(type='text', name='outlet', placeholder='Name of Branch')
              label.label(for='dateOo') Order Date:
              input.form-control(name='dateOo', type='date', required='')
              label.label(for='waiterNo') Waiter No:
              input.form-control(type='number', name='waiterNo', placeholder='Waiter/Waitress Tag', required='')
              // <br><br>
              div(style='align-items: center; padding-left: 40px; margin-top: 30px; margin-bottom: 20px;')
                input.btn.btn.dark.button(type='reset', value='Cancel')
                input.btn.btn.dark.button(type='submit', value='Submit Order')
    sinclude components/footer